/* BREAKPOINTS */
$bp-phone: 640px; /*small device*/
$bp-tablet: 768px; /* medium device*/
$bp-desktop: 1024px; /* large device*/
$bp-big-screen: 1280px; /* extra large device*/
$bp-2xl-screen: 1536px; /* 2 x extra large device*/
