*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: IBMPlexSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: url('/static/background.png');

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  color: #373b64;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-weight: 500;
}

button {
  background-color: transparent;
  background-image: none;
  font-weight: 600;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/IBMPlexSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/IBMPlexSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/IBMPlexSans-Bold.ttf) format('truetype');
}

/* glass-morphism */
.glass {
  background: hsla(0, 0%, 100%, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.glass:hover {
  background: hsla(0, 0%, 100%, 0.7);
  border: 1px solid #fff;
}

:root {
  /* COLORS */
  --color-purple: rgba(67, 56, 202, 1);
  --color-purple-dark: rgba(79, 70, 229, 1);
  --color-black: rgba(17, 24, 39, 1);
  --color-white: rgba(229, 231, 235, 1);

  /* BREAKPOINTS */
  --break-point-sm: 640px; /*small device*/
  --break-point-md: 768px; /* medium device*/
  --break-point-lg: 1024px; /* large device*/
  --break-point-xl: 1280px; /* extra large device*/
  --break-point-2xl: 1536px; /* 2 x extra large device*/
}
